{% extends 'partials/base.html.twig' %}

{% block intro %}
    {{ dump('Intro', page.home()) }}
    {% if page.home() %}
    <div id="intro">
        <h1>{{ page.header.fp_title }}</h1>
        {{ page.header.fp_call_to_action|markdown }}
        <ul class="actions">
            <li><a href="#header" class="button icon solo fa-arrow-down scrolly">{{ page.header.fp_continue_btn }}</a></li>
        </ul>
    </div>
    {% endif %}
{% endblock %}


{% block content %}
    <section class="post">
        {% set thisPage = page %}
        {% include 'partials/header.html.twig' %}
    {{ page.content }}
    </section>
{% endblock %}
